.footer {
    color: rgb(153, 153, 153);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    height: 40px;
    justify-self:end;
    margin-top: auto;
    background-color: rgb(52, 58, 64);

}

.footer__row {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
    align-items: center;
}


.footer__link {
    padding: 8px 16px;
}

.footer__name {

}

