.img {
    position: relative;
    /* padding: 0 0 85% 0; */
    user-select: none;
}

.rating {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 11px;
    left: -5px;

    color: black;
    background-color: #ffd400;

    height: 28px;
    padding: 5px 10px;
    z-index: 1;
}

.ratingNumber {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;  
}

.ratingNumber::before {
    font-size: 18px;
    content: '★';

    margin: 0px 3px 0px 0px;
}

